/* @group Photos */
/*
.sc-image-view.sc-collection-item.p10-grid-photo-item
{
  margin: 30px 30px 30px 30px;
  -webkit-box-shadow: black 2px 2px 5px;
}

.sc-image-view.sc-collection-item.p10-grid-photo-item.sel
{
 margin: 20px;
 -webkit-box-shadow: black 4px 4px 10px;
 outline: 3px solid yellow;
 z-index: 10;
}
 */
/* @end */
 
